<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8" />
        <title>Spartify</title>
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="apple-touch-icon" href="/static/ios-icon.png" />
    </head>
<body>
    <section class="p-party" id="party-room">
        <h2>Song Search</h2>
    	<p><input id="search" placeholder="Search for songs" /></p>
    	<ul class="song-list" id="results"></ul>
    	<h2>Queue</h2>
    	<ul class="song-list" id="queue"></ul>
    	<p><button class="nav cancel go-main">Leave party</button></p>
    </section>
    <iframe id="open" style="display: none;"></iframe>
    <script src="/static/jquery-1.7.min.js"></script>
    <script src="/static/spartify.js"></script>
</body>
</html>
