<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8" />
        <title>Spartify</title>
        <link href="/static/spartify.css" rel="stylesheet" />
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="apple-touch-icon" href="/static/ios-icon.png" />
    </head>
<body>
    <section id="intro">
    	<h1><a class="go-main" href="/">Spartify</a></h1>
    	<p class="p-main" id="info">Willkommen zu Spartify.</p>
    </section>
    <section class="p-main" id="actions">
    	<p id="continue" style="display: none;"><button class="nav">Continue XXXXX</button></p>
    	<p><button class="nav" id="go-join">Join a party</button></p>
    	<p><button class="nav create" id="start">Start a party!</button></p>
    </section>
    <section class="p-join" id="party-joiner">
    	<p><input id="join-party-code" placeholder="Enter party code here"></p>
    	<p><button class="nav create" id="join">Join!</button></p>
    	<p><button class="nav go-main">Go back</button></p>
    </section>
    <section class="p-party" id="party-room">
    	<p id="party-code">Party code goes here</p>
    	<p><input id="search" placeholder="Search for songs" /></p>
    	<ul class="song-list" id="results"></ul>
    	<h2>Queue</h2>
    	<ul class="song-list" id="queue"></ul>
    	<p><button class="nav cancel go-main">Leave party</button></p>
    </section>
    <section id="derp">
    	<p>By <a href="http://twitter.com/blixt" title="@blixt">Andreas Blixt</a> and <a href="http://twitter.com/ricardovice" title="@ricardovice">Ricardo Vice Santos</a> for <a href="http://boston.musichackday.org/2011/">Music Hack Day Boston '11</a>.</p>
    	<p>Follow <a href="http://twitter.com/Spartify" title="@Spartify">@Spartify</a> for updates.</p>
    	<p><a href="http://the.echonest.com/"><img alt="Powered by The Echo Nest" src="http://the.echonest.com/media/images/logos/EN_P_on_White_Horizontal.gif"></a></p>
    </section>
    <iframe id="open" style="display: none;"></iframe>
    <script src="/static/jquery-1.7.min.js"></script>
    <script src="/static/spartify.js"></script>
</body>
</html>
